In [1]:
import pandas as pd

# Carica il file
df = pd.read_csv('https://ec.europa.eu/eurostat/api/dissemination/catalogue/toc/txt?lang=en', sep='\t')
df.insert(0, "row_id", range(1, len(df) + 1))
# Funzione per convertire in Period (mese o trimestre)
def parse_period(value):
    try:
        if 'Q' in str(value):
            return pd.Period(value, freq='Q')
        elif '-' in str(value):
            return pd.Period(value, freq='M')
        else:
            return pd.NaT
    except:
        return pd.NaT

# Applica direttamente ai valori testuali
df['data start'] = df['data start'].apply(parse_period)
df['data end'] = df['data end'].apply(parse_period)


# Conversione diretta delle due colonne
df['last update of data'] = pd.to_datetime(df['last update of data'], format='%d.%m.%Y', errors='coerce')
df['last table structure change'] = pd.to_datetime(df['last table structure change'], format='%d.%m.%Y', errors='coerce')
df.shape

(11859, 9)

In [2]:
df['type'].value_counts(dropna=False)

type
dataset    8532
folder     1862
table      1465
Name: count, dtype: int64

In [3]:
df[df['type'] == 'table'].head()

   row_id                                              title          code   type  ... last table structure change data start data end    values
4       5                   Current account - quarterly data   ei_bpm6ca_q  table  ...                  2025-07-03     1991Q1   2025Q1  291800.0
5       6                  Financial account - quarterly ...   ei_bpm6fa_q  table  ...                  2025-07-03     1991Q1   2025Q1   51657.0
6       7                     Current account - monthly data   ei_bpm6ca_m  table  ...                  2025-06-18    1991-01  2025-04  240315.0
7       8                   Financial account - monthly data   ei_bpm6fa_m  table  ...                  2025-06-18    1991-01  2025-04   79123.0
8       9                  International investment posit...  ei_bpm6iip_q  table  ...                  2025-07-03     1992Q4   2025Q1   63632.0

[5 rows x 9 columns]

In [4]:
# Conta indentazione: numero di spazi iniziali nel titolo
df['indent'] = df['title'].str.extract(r'^( *)')[0].str.len().fillna(0).astype(int)

# Rimuove spazi per il titolo leggibile
df['title_clean'] = df['title'].str.strip()

In [5]:
df.sample()

      row_id                                              title             code  ...    values indent                                        title_clean
4073    4074                              Unemployment rates...  lfst_r_lfur2gac  ...  491277.0     28  Unemployment rates by sex, age, country of bir...

[1 rows x 11 columns]

In [6]:
# Trova la riga che corrisponde a "na10"
row_index = df[df['code'] == 'na10'].index[0]
base_indent = df.at[row_index, 'indent']

# Seleziona righe sotto "na10" e con indent > base
sub_df = df.iloc[row_index + 1:]
sub_df = sub_df[sub_df['indent'] > base_indent]

# Fermati appena trovi un nodo dello stesso livello o superiore
stop_index = sub_df[sub_df['indent'] <= base_indent].index
if not stop_index.empty:
    sub_df = sub_df[:stop_index[0]]

# Filtro finale: solo le tabelle sotto 'na10'
tables_na10 = sub_df[sub_df['type'] == 'table'].copy()

print(tables_na10[['code', 'title_clean']])

               code                                        title_clean
1287       tipsen10    Net trade balance of energy products - % of GDP
1288       tipsna20    Gross fixed capital formation at current prices
1289       tec00115                      Real GDP growth rate - volume
1290       tipsna10  Gross domestic product (GDP) at market prices ...
1291       tipspd10              Private sector debt, non-consolidated
...             ...                                                ...
11821      tesem020  Early leavers from education and training, age...
11822  yth_educ_020  Population aged 30-34 with tertiary educationa...
11823  yth_educ_030  Young people aged 20-24 with at least upper se...
11824  yth_educ_060  Participation rate in non-formal education and...
11830     sdg_02_10              Obesity rate by body mass index (BMI)

[1352 rows x 2 columns]

In [7]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

na = df[df['code'].str.startswith("na")][['title_clean', 'code', 'type','values','indent', 'row_id']]

In [8]:
def classificazione_codice(code):
    if code.startswith("nama_10r"):
        return "Conti regionali"
    elif code.startswith("nama_10"):
        return "Conti nazionali annuali"
    elif code.startswith("namq_10"):
        return "Conti nazionali trimestrali"
    elif code.startswith("naio_10"):
        return "Conti input-output"
    elif code.startswith("nasa_10") or code.startswith("nasq_10"):
        return "Conti satellite"
    elif code.startswith("naidq_10") or code.startswith("naida_10") or code.startswith("naid_10"):
        return "Conti disaggregati"
    elif code.startswith("naidsa_10") or code.startswith("naidsq_10"):
        return "Conti disaggregati (destagionalizzati)"
    else:
        return "Altro"

na['argomento'] = na['code'].apply(classificazione_codice)
na

                                             title_clean              code     type      values  indent  row_id                               argomento
62     Gross domestic product (GDP) and main componen...       namq_10_gdp  dataset   7892886.0      20      63             Conti nazionali trimestrali
64     Household final consumption expenditure by dur...       namq_10_fcs  dataset   1047860.0      20      65             Conti nazionali trimestrali
65               Exports and imports by counterpart area       namq_10_exi  dataset    671376.0      20      66             Conti nazionali trimestrali
67     Gross value added and income by main industry ...       namq_10_a10  dataset   5683144.0      20      68             Conti nazionali trimestrali
68      Gross fixed capital formation by main asset type       namq_10_an6  dataset   2654625.0      20      69             Conti nazionali trimestrali
69     Employment by main industry (NACE Rev.2) - nat...     namq_10_a10_e  dataset   3381631.0      20      70             Conti nazionali trimestrali
73                       Key indicators - quarterly data        nasq_10_ki  dataset     24575.0      20      74                         Conti satellite
74           Non-financial transactions - quarterly data     nasq_10_nf_tr  dataset   3224131.0      20      75                         Conti satellite
75     Gross domestic product (GDP) and main componen...       nama_10_gdp  dataset   1050045.0      16      76                 Conti nazionali annuali
225    Gross domestic product (GDP) at current market...     nama_10r_2gdp  dataset     71581.0      20     226                         Conti regionali
228    Average annual population to calculate regiona...  nama_10r_3popgdp  dataset     40358.0      20     229                         Conti regionali
229    Gross domestic product (GDP) at current market...     nama_10r_3gdp  dataset    279563.0      20     230                         Conti regionali
230    Gross domestic product (GDP) and Gross value a...   nama_10r_2gvagr  dataset     38072.0      20     231                         Conti regionali
233    Gross value added at basic prices by NUTS 3 re...     nama_10r_3gva  dataset   1194282.0      20     234                         Conti regionali
234    Gross fixed capital formation by NUTS 2 region...    nama_10r_2gfcf  dataset    281244.0      20     235                         Conti regionali
235           Compensation of employees by NUTS 2 region     nama_10r_2coe  dataset    281024.0      20     236                         Conti regionali
236       Employment (thousand persons) by NUTS 3 region  nama_10r_3empers  dataset   1355231.0      20     237                         Conti regionali
237    Employment (thousand hours worked) by NUTS 2 r...   nama_10r_2emhrw  dataset    381447.0      20     238                         Conti regionali
238                Income of households by NUTS 2 region   nama_10r_2hhinc  dataset    285294.0      20     239                         Conti regionali
636    Gross domestic product (GDP) at current market...     nama_10r_3gdp  dataset    279563.0      20     637                         Conti regionali
637    Gross value added at basic prices by NUTS 3 re...     nama_10r_3gva  dataset   1194282.0      20     638                         Conti regionali
638       Employment (thousand persons) by NUTS 3 region  nama_10r_3empers  dataset   1355231.0      20     639                         Conti regionali
1283                        National accounts (ESA 2010)              na10   folder         NaN       8    1284                                   Altro
1284                            Annual national accounts            nama10   folder         NaN      12    1285                                   Altro
1285                                  GDP and components        nama_10_ma   folder         NaN      16    1286                 Conti nazionali annuali
1286   Gross domestic product (GDP) and main componen...       nama_10_gdp  dataset   1050045.0      20    1287                 Conti nazionali annuali
1306   Gross value added and income by main industry ...       nama_10_a10  dataset    823831.0      20    1307                 Conti nazionali annuali
1307   Gross value added and income by detailed indus...       nama_10_a64  dataset   8193585.0      20    1308                 Conti nazionali annuali
1308             Exports and imports by counterpart area       nama_10_exi  dataset     84050.0      20    1309                 Conti nazionali annuali
1309   Gross domestic product (GDP) and main componen...        nama_10_pc  dataset    133457.0      20    1310                 Conti nazionali annuali
1314              Gross national income (GNI) per capita        nama_10_pp  dataset       112.0      20    1315                 Conti nazionali annuali
1315         Final consumption expenditure of households       nama_10_hfc   folder         NaN      16    1316                 Conti nazionali annuali
1316   Household final consumption expenditure by dur...       nama_10_fcs  dataset    208058.0      20    1317                 Conti nazionali annuali
1317   Household final consumption expenditure by pur...      nama_10_cp18  dataset   1273385.0      20    1318                 Conti nazionali annuali
1318   Household final consumption expenditure by pur...    nama_10_co3_p3  dataset   1889486.0      20    1319                 Conti nazionali annuali
1320                        Capital formation and stocks       nama_10_nfa   folder         NaN      16    1321                 Conti nazionali annuali
1321    Gross fixed capital formation by main asset type       nama_10_an6  dataset    388262.0      20    1322                 Conti nazionali annuali
1323   Capital formation by industry (NACE Rev.2) and...    nama_10_a64_p5  dataset  17285070.0      20    1324                 Conti nazionali annuali
1324   Capital stocks by industry (NACE Rev.2) and de...    nama_10_nfa_st  dataset   8630848.0      20    1325                 Conti nazionali annuali
1325    Capital stocks by sector and detailed asset type    nama_10_nfa_bs  dataset    105678.0      20    1326                 Conti nazionali annuali
1326      Population and employment in national accounts       nama_10_e_p   folder         NaN      16    1327                 Conti nazionali annuali
1327       Population and employment - national accounts        nama_10_pe  dataset     15901.0      20    1328                 Conti nazionali annuali
1331   Employment by main industry (NACE Rev.2) - nat...     nama_10_a10_e  dataset    370595.0      20    1332                 Conti nazionali annuali
1335   Employment by detailed industry (NACE Rev.2) -...     nama_10_a64_e  dataset   1232518.0      20    1336                 Conti nazionali annuali
1336      Average full time adjusted salary per employee       nama_10_fte  dataset      1504.0      20    1337                 Conti nazionali annuali
1337                          Regional economic accounts        nama_10reg   folder         NaN      16    1338                         Conti regionali
1338                   Gross domestic product indicators      nama_10r_gdp   folder         NaN      20    1339                         Conti regionali
1339   Gross domestic product (GDP) at current market...     nama_10r_2gdp  dataset     71581.0      24    1340                         Conti regionali
1340   Gross domestic product (GDP) at current market...     nama_10r_3gdp  dataset    279563.0      24    1341                         Conti regionali
1341   Gross domestic product (GDP) and Gross value a...   nama_10r_2gvagr  dataset     38072.0      24    1342                         Conti regionali
1342   Average annual population to calculate regiona...  nama_10r_3popgdp  dataset     40358.0      24    1343                         Conti regionali
1343                       Branch and Household accounts     nama_10r_brch   folder         NaN      20    1344                         Conti regionali
1344   Gross value added at basic prices by NUTS 3 re...     nama_10r_3gva  dataset   1194282.0      24    1345                         Conti regionali
1345   Gross fixed capital formation by NUTS 2 region...    nama_10r_2gfcf  dataset    281244.0      24    1346                         Conti regionali
1346          Compensation of employees by NUTS 2 region     nama_10r_2coe  dataset    281024.0      24    1347                         Conti regionali
1347      Employment (thousand persons) by NUTS 3 region  nama_10r_3empers  dataset   1355231.0      24    1348                         Conti regionali
1348   Employment (thousand hours worked) by NUTS 2 r...   nama_10r_2emhrw  dataset    381447.0      24    1349                         Conti regionali
1349               Income of households by NUTS 2 region   nama_10r_2hhinc  dataset    285294.0      24    1350                         Conti regionali
1352                     Labour and capital productivity      nama_10_prod   folder         NaN      16    1353                 Conti nazionali annuali
1353   Labour and capital productivity for total econ...       nama_10_lpc   folder         NaN      20    1354                 Conti nazionali annuali
1354           Labour productivity and unit labour costs    nama_10_lp_ulc  dataset     59846.0      24    1355                 Conti nazionali annuali
1361   Labour productivity and unit labour costs by i...    nama_10_lp_a21  dataset    499022.0      24    1362                 Conti nazionali annuali
1362   Capital stock based productivity indicators by...    nama_10_cp_a21  dataset    370738.0      24    1363                 Conti nazionali annuali
1363                       Labour productivity by region       nama_10r_lp   folder         NaN      20    1364                         Conti regionali
1364        Nominal Labour productivity by NUTS 2 region     nama_10r_2nlp  dataset     54984.0      24    1365                         Conti regionali
1365        Nominal Labour productivity by NUTS 3 region     nama_10r_3nlp  dataset    111186.0      24    1366                         Conti regionali
1366           Real Labour productivity by NUTS 2 region     nama_10r_2rlp  dataset     33385.0      24    1367                         Conti regionali
1367   Compensation per employee and hours worked per...    nama_10r_2lp10  dataset    432832.0      24    1368                         Conti regionali
1368                         Quarterly national accounts           namq_10   folder         NaN      12    1369             Conti nazionali trimestrali
1369                                  GDP and components        namq_10_ma   folder         NaN      16    1370             Conti nazionali trimestrali
1370   Gross domestic product (GDP) and main componen...       namq_10_gdp  dataset   7892886.0      20    1371             Conti nazionali trimestrali
1384   Gross value added and income by main industry ...       namq_10_a10  dataset   5683144.0      20    1385             Conti nazionali trimestrali
1410   Household final consumption expenditure by dur...       namq_10_fcs  dataset   1047860.0      20    1411             Conti nazionali trimestrali
1413             Exports and imports by counterpart area       namq_10_exi  dataset    671376.0      20    1414             Conti nazionali trimestrali
1414   Gross domestic product (GDP) and main componen...        namq_10_pc  dataset    364931.0      20    1415             Conti nazionali trimestrali
1415      Population and employment in national accounts       namq_10_e_p   folder         NaN      16    1416             Conti nazionali trimestrali
1416       Population and employment - national accounts        namq_10_pe  dataset    163305.0      20    1417             Conti nazionali trimestrali
1417   Employment by main industry (NACE Rev.2) - nat...     namq_10_a10_e  dataset   3381631.0      20    1418             Conti nazionali trimestrali
1424           Labour productivity and capital formation     namq_10_lp_cf   folder         NaN      16    1425             Conti nazionali trimestrali
1425           Labour productivity and unit labour costs    namq_10_lp_ulc  dataset    117147.0      20    1426             Conti nazionali trimestrali
1428    Gross fixed capital formation by main asset type       namq_10_an6  dataset   2654625.0      20    1429             Conti nazionali trimestrali
1431                 Supply, use and input-output tables           naio_10   folder         NaN      12    1432                      Conti input-output
1432        National supply, use and input-output tables         naio_10_n   folder         NaN      16    1433                      Conti input-output
1433   Supply, use and input-output tables  - current...        naio_10_cp   folder         NaN      20    1434                      Conti input-output
1434   Supply table at basic prices incl. transformat...      naio_10_cp15  dataset   5320489.0      24    1435                      Conti input-output
1435                     Use table at purchasers' prices      naio_10_cp16  dataset   5964832.0      24    1436                      Conti input-output
1436                           Use table at basic prices    naio_10_cp1610  dataset  13247079.0      24    1437                      Conti input-output
1437                Table of trade and transport margins    naio_10_cp1620  dataset   3330857.0      24    1438                      Conti input-output
1438            Table of taxes less subsidies on product    naio_10_cp1630  dataset   3308381.0      24    1439                      Conti input-output
1439   Symmetric input-output table at basic prices (...    naio_10_cp1700  dataset   7728026.0      24    1440                      Conti input-output
1440   Symmetric input-output table at basic prices (...    naio_10_cp1750  dataset   3839980.0      24    1441                      Conti input-output
1441   Supply, use and input-output tables - previous...       naio_10_pyp   folder         NaN      20    1442                      Conti input-output
1442   Supply table at basic prices incl. transformat...     naio_10_pyp15  dataset   3280296.0      24    1443                      Conti input-output
1443   Use table at purchasers' prices (previous year...     naio_10_pyp16  dataset   3863636.0      24    1444                      Conti input-output
1444   Use table at basic prices (previous years prices)   naio_10_pyp1610  dataset   4809528.0      24    1445                      Conti input-output
1445   Table of trade and transport margins (previous...   naio_10_pyp1620  dataset   1688980.0      24    1446                      Conti input-output
1446   Table of taxes less subsidies on products (pre...   naio_10_pyp1630  dataset   1662066.0      24    1447                      Conti input-output
1447   Symmetric input-output table at basic prices (...   naio_10_pyp1700  dataset    917722.0      24    1448                      Conti input-output
1448   Symmetric input-output table at basic prices (...   naio_10_pyp1750  dataset    670586.0      24    1449                      Conti input-output
1449   EU inter-country supply, use and input-output ...         naio_10_f   folder         NaN      16    1450                      Conti input-output
1450   EU inter-country supply, use and input-output ...       naio_10_fcp   folder         NaN      20    1451                      Conti input-output
1451   EU inter-country supply table at basic prices ...    naio_10_fcp_s1  dataset  43335680.0      24    1452                      Conti input-output
1452   EU inter-country supply table at basic prices ...    naio_10_fcp_s2  dataset  43335680.0      24    1453                      Conti input-output
1453   EU inter-country supply table at basic prices ...    naio_10_fcp_s3  dataset  26001408.0      24    1454                      Conti input-output
1454   EU inter-country use table at basic prices (20...    naio_10_fcp_u1  dataset  46816500.0      24    1455                      Conti input-output
1455   EU inter-country use table at basic prices (20...    naio_10_fcp_u2  dataset  46816500.0      24    1456                      Conti input-output
1456   EU inter-country use table at basic prices (20...    naio_10_fcp_u3  dataset  28089900.0      24    1457                      Conti input-output
1457   EU inter-country input-output table at basic p...   naio_10_fcp_ip1  dataset  46816500.0      24    1458                      Conti input-output
1458   EU inter-country input-output table at basic p...   naio_10_fcp_ip2  dataset  46816500.0      24    1459                      Conti input-output
1459   EU inter-country input-output table at basic p...   naio_10_fcp_ip3  dataset  28089900.0      24    1460                      Conti input-output
1460   EU inter-country input-output table at basic p...   naio_10_fcp_ii1  dataset  46816500.0      24    1461                      Conti input-output
1461   EU inter-country input-output table at basic p...   naio_10_fcp_ii2  dataset  46816500.0      24    1462                      Conti input-output
1462   EU inter-country input-output table at basic p...   naio_10_fcp_ii3  dataset  28089900.0      24    1463                      Conti input-output
1463   Macroeconomic globalisation indicators based o...        naio_10_fg   folder         NaN      20    1464                      Conti input-output
1464            Imports by industry (FIGARO application)      naio_10_fgti  dataset   1425684.0      24    1465                      Conti input-output
1465            Exports by industry (FIGARO application)      naio_10_fgte  dataset   1425684.0      24    1466                      Conti input-output
1466   Domestic value added in exports - EU perspecti...      naio_10_fgde  dataset  15492204.0      24    1467                      Conti input-output
1467   Domestic value added in exports - EU country p...      naio_10_fgdm  dataset   1329224.0      24    1468                      Conti input-output
1468   Foreign value added in exports by exporting co...    naio_10_fgfeie  dataset    553644.0      24    1469                      Conti input-output
1469   Foreign value added in exports by country of o...    naio_10_fgfoie  dataset    395200.0      24    1470                      Conti input-output
1470   Foreign value added in exports by country of o...    naio_10_fgfoee  dataset    553644.0      24    1471                      Conti input-output
1471   Foreign value added in exports by exporting co...    naio_10_fgfeim  dataset   3986944.0      24    1472                      Conti input-output
1472   Foreign value added in exports by country of o...    naio_10_fgfoim  dataset   2372188.0      24    1473                      Conti input-output
1473   Foreign value added in exports by country of o...    naio_10_fgfoem  dataset   3986944.0      24    1474                      Conti input-output
1474   Domestic value added in foreign final use (FIG...      naio_10_fgdf  dataset   1328860.0      24    1475                      Conti input-output
1475   Foreign value added in domestic final use (FIG...      naio_10_fgfd  dataset   1328860.0      24    1476                      Conti input-output
1476   Global value chain participation - EU perspect...    naio_10_fggvce  dataset      1092.0      24    1477                      Conti input-output
1477   Global value chain participation - EU country ...    naio_10_fggvcm  dataset      1053.0      24    1478                      Conti input-output
1478       Trading partner exposure (FIGARO application)     naio_10_fgtex  dataset    544388.0      24    1479                      Conti input-output
1479   Domestic employment in exports - EU perspectiv...     naio_10_fgdee  dataset  15492204.0      24    1480                      Conti input-output