# TDB10295 Prestiti (esclusi PCT) per provincia, settore e sottosettore della clientela

In [1]:
import sqlite3, pandas as pd
sqlitecon = sqlite3.connect("D:/files/Bankit.sqlite")

In [2]:
abr = ['ITF11', 'ITF12', 'ITF13', 'ITF14', 'ITF1']
mol = ['ITF22', 'ITF21',  'ITF2']
cam = ['ITF31', 'ITF32', 'ITF33', 'ITF34', 'ITF35', 'ITF3']
pug = ['ITF4', 'ITF43', 'ITF44', 'ITF45','ITF46','ITF47','ITF48'] # 'ITF41', 'ITF42',
bas = ['ITF51', 'ITF52', 'ITF5']
cal = ['ITF65','ITF63','ITF61', 'ITF62', 'ITF64', 'ITF6']
sic = ['ITG11', 'ITG12', 'ITG13', 'ITG14', 'ITG15', 'ITG16', 'ITG17', 'ITG18', 'ITG19', 'ITG1']
sar = ['ITG21', 'ITG22', 'ITG23', 'ITG24', 'ITG2']
mezzogiorno = ['ITF1', 'ITF2', 'ITF3', 'ITF4', 'ITF5', 'ITF6', 'ITG1', 'ITG2']
ita = ['ITC', 'ITH','ITI','ITF', 'ITG']

In [3]:
nord = ['ITC','ITH','ITI']
sud = ['ITF','ITG']
ita = ['ITC', 'ITH','ITI','ITF', 'ITG']
tabella = 'TDB10295_prestiti_p'
periodo = '2024-12-31'
ita_sql = "(" + ",".join(f"'{x}'" for x in ita) + ")"
query = f"""
    SELECT * FROM {tabella}
    WHERE SET_CTP IN ('S11BI7','SBI25')
    AND LOC_CTP IN {ita_sql}
    AND DATA_OSS ='{periodo}'
"""
data = pd.read_sql(query, sqlitecon)

In [4]:
data['DATA_OSS'].max()

'2024-12-31'

In [8]:
# Aggiungi colonna AREA in base a LOC_CTP
data['AREA'] = data['LOC_CTP'].apply(lambda x: 'NORD' if x in nord else 'SUD' if x in sud else 'ALTRO')

# Raggruppa per AREA e target (opzionale, se vuoi distinguere i due SET_CTP)
risultato = data.groupby(['AREA', 'target'], as_index=False)['VALORE'].sum()
pivot = risultato.pivot(index='target', columns='AREA', values='VALORE')
pivot.columns.name = None  # rimuove il nome "AREA" dalle colonne
pivot.reset_index()

                                           target       NORD       SUD
0         Quasi-società non finanziarie artigiane   10270489   1729044
1  Società non finanziarie e famiglie produttrici  564467557  96757703